:root {
  --color-base-green: 158, 79%;
  --color-base-white: 0, 0%;
  --color-base-gray: 250, 14%;
  --color-gray-80: var(--color-base-gray), 80%;
  --color-gray-90: var(--color-base-gray), 90%;
  --color-gray-95: var(--color-base-gray), 95%;
  --color-green: var(--color-base-green), 42%;
  --theme-shade-subtle: hsla(var(--color-gray-95), 0.4);
  --theme-text: hsla(var(--color-gray-90), 1);
  --theme-text-light: hsla(var(--color-gray-80), 1);
  --theme-bg: hsl(256, 27%, 19%);

  color-scheme: dark;
  // color: var(--theme-text);
  // font-family: system-ui, var(--font-fallback);
  // line-height: 1.5;
  // display: grid;
  // height: 100%;
  place-content: center;
  // background: radial-gradient(purple, black);
}

$primary-color: #0056fe;
$secondary-color: #3c7ffc;
$tertiary-color: #8f9399;
$white-color: #ffffff;
$black-color: #000000;
.location-box {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0px;
}
ol,
li {
  list-style: none;
}

.contains-task-list {
  padding-left: 0px;
  display: flex;
  width: 100%;
}
a {
  color: $white-color;
}
.lat-long {
  display: flex;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $black-color;
  color: $white-color;
}
.btn-add,
.btn-menu,
.btn-edit,
.btn-delete {
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 24px;
  font-weight: 500;
  background-color: $primary-color;
  color: $white-color;
  border-radius: 9999px;
  text-decoration: none;
  margin: 0 8px;
}
.btn-menu {
  color: $black-color;
  background-color: $white-color;
  border: solid 2px $primary-color;
}
.btn-delete {
  background-color: #ed5e68;
}
.not-found {
  color: $white-color;
  margin: auto;
  padding: 20px;
  font-size: 3rem;
  font-weight: 600;
  width: fit-content;
  background-color: $primary-color;
}
.empty-page {
}
.nav-part {
  border-radius: 0 0 32px 32px;
  position: fixed;
  background-color: $primary-color;
  top: 0;
  // max-width: 800px;
  // margin: auto;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  left: 0%;
  display: flex;
  color: $white-color;
}
.top-part {
  display: block;
  a::before {
    content: "👈🏼";
    text-decoration: none;
    display: inline-block;
  }
}
// astro checkbox

* {
  box-sizing: border-box;
}

html {
  font-size: 150%;
}

.task-list-item {
  label {
    cursor: pointer;
  }
  display: flex;
  max-width: 240px;
}
.location-box {
  .btn-edit,
  .btn-delete {
    width: 100px;
  }
}

// checkbox
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.task-list-item label input[type="checkbox"]::after {
  content: "\2714\fe0e";
  position: initial;
  // left: 1rem;
  // top: 50%;
  transform: translateY(-50%) translate(0.1875rem, -0.1875rem);
  transform-origin: center;
  text-align: center;
  line-height: 2;
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 1.25rem;
  border: 0.0625rem solid var(--theme-shade-subtle);
  border-radius: 0.3rem;
  color: var(--theme-shade-subtle);
  box-shadow: -0.1875rem 0.1875rem var(--theme-shade-subtle);
  cursor: pointer;
}
.task-list-item label input[type="checkbox"]:checked::after {
  color: hsl(var(--color-base-white), 100%);
  background-color: hsl(var(--color-green));
  box-shadow: -0.0625rem 0.0625rem var(--theme-shade-subtle);
  transform: translateY(-50%) translate(0.0625rem, -0.0625rem);
}

//header part
.header-part {
  border-radius: 0 0 32px 32px;
  margin: 0 -8px;
  padding: 150px 8px 20px 8px;
  max-width: 700px;
  margin: auto;
  color: $black-color;
  background-color: $white-color;
  a {
    color: $black-color;
  }
}
