@charset "UTF-8";
:root {
  --color-base-green: 158, 79%;
  --color-base-white: 0, 0%;
  --color-base-gray: 250, 14%;
  --color-gray-80: var(--color-base-gray), 80%;
  --color-gray-90: var(--color-base-gray), 90%;
  --color-gray-95: var(--color-base-gray), 95%;
  --color-green: var(--color-base-green), 42%;
  --theme-shade-subtle: hsla(var(--color-gray-95), 0.4);
  --theme-text: hsla(var(--color-gray-90), 1);
  --theme-text-light: hsla(var(--color-gray-80), 1);
  --theme-bg: hsl(256, 27%, 19%);
  color-scheme: dark;
  place-content: center;
}

.location-box {
  max-width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0px;
}

ol,
li {
  list-style: none;
}

.contains-task-list {
  padding-left: 0px;
  display: flex;
  width: 100%;
}

a {
  color: #ffffff;
}

.lat-long {
  display: flex;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.btn-add,
.btn-menu,
.btn-edit,
.btn-delete {
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 24px;
  font-weight: 500;
  background-color: #0056fe;
  color: #ffffff;
  border-radius: 9999px;
  text-decoration: none;
  margin: 0 8px;
}

.btn-menu {
  color: #000000;
  background-color: #ffffff;
  border: solid 2px #0056fe;
}

.btn-delete {
  background-color: #ed5e68;
}

.not-found {
  color: #ffffff;
  margin: auto;
  padding: 20px;
  font-size: 3rem;
  font-weight: 600;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0056fe;
}

.nav-part {
  border-radius: 0 0 32px 32px;
  position: fixed;
  background-color: #0056fe;
  top: 0;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  left: 0%;
  display: flex;
  color: #ffffff;
}

.top-part {
  display: block;
  align-items: center;
  justify-content: space-between;
}
.top-part a::before {
  content: "👈🏼";
  text-decoration: none;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 150%;
}

.task-list-item {
  display: flex;
  max-width: 240px;
}
.task-list-item label {
  cursor: pointer;
}

.location-box .btn-edit,
.location-box .btn-delete {
  width: 100px;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.task-list-item label input[type=checkbox]::after {
  content: "✔︎";
  position: initial;
  transform: translateY(-50%) translate(0.1875rem, -0.1875rem);
  transform-origin: center;
  text-align: center;
  line-height: 2;
  padding: 4px 8px;
  margin-right: 8px;
  font-size: 1.25rem;
  border: 0.0625rem solid var(--theme-shade-subtle);
  border-radius: 0.3rem;
  color: var(--theme-shade-subtle);
  box-shadow: -0.1875rem 0.1875rem var(--theme-shade-subtle);
  cursor: pointer;
}

.task-list-item label input[type=checkbox]:checked::after {
  color: hsl(var(--color-base-white), 100%);
  background-color: hsl(var(--color-green));
  box-shadow: -0.0625rem 0.0625rem var(--theme-shade-subtle);
  transform: translateY(-50%) translate(0.0625rem, -0.0625rem);
}

.header-part {
  border-radius: 0 0 32px 32px;
  margin: 0 -8px;
  padding: 150px 8px 20px 8px;
  max-width: 700px;
  color: #000000;
  background-color: #ffffff;
}
.header-part a {
  color: #000000;
}

.place-btn-ctnr {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 60%;
  justify-content: end;
}

.header-part form .btn-add {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 16px 4px;
  font-weight: 600;
}
.header-part form input {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #8f9399;
  border-radius: 999px;
  padding: 8px;
  margin-bottom: 20px;
}
.header-part form input:hover {
  border: 1px solid #000000;
}

@media (min-width: 700px) {
  .header-part {
    margin: auto;
    padding: 150px 32px 32px 32px;
  }
  .top-part {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */