$primary-color: #0056fe;
$secondary-color: #3c7ffc;
$tertiary-color: #8f9399;
$white-color: #ffffff;
$black-color: #000000;
.location-box {
  display: flex;
  align-items: center;
}
.lat-long {
  display: flex;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $black-color;
  color: $white-color;
}
.btn-add,
.btn-edit,
.btn-delete {
  padding: 8px 16px;
  background-color: $primary-color;
  color: $white-color;
  border-radius: 9999px;
}

.empty-page {
}
.top-part {
  display: flex;
}
// astro checkbox

* {
  box-sizing: border-box;
}

html {
  font-size: 150%;
}
